.about {
    padding-bottom: 100px;

    @include vp-1023 {
        padding-bottom: 80px;
    }
}

.about > div {
    display: flex;
    align-items: flex-start;
}

.about span {
    background: url("/img/background/bg-about.jpg");
    font-family: $ff-fancy;
    font-size: 156px;
    font-weight: 700;
    line-height: 220px;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    background-clip: text;
    color: transparent;

    @media (min-resolution: $retina-dppx) {
        background: url("/img/background/bg-about@2x.jpg");
        background-clip: text;
    }

    @include vp-767 {
        display: none;
    }
}

.about h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-family: $ff-fancy;
    font-size: 36px;
    line-height: 51px;
    font-weight: 400;

    @include vp-767 {
        font-size: 28px;
    }
}

.about p {
    margin: 0;
    margin-bottom: 15px;

    @include vp-767 {
        font-size: 14px;
    }
}

.about button {
    min-width: 180px;
}

p [data-id="to-hide"],
[data-state="is-hidden"] {
    display: none;
}