.about {
  padding-bottom: 104px;

  @include vp-1023 {
    padding-bottom: 80px;
  }
}

.about > div {
  display: flex;
  align-items: flex-start;
}

.about strong {
  margin-right: 73px;
  background: url("/img/background/bg-about.jpg");
  font-family: $ff-fancy;
  font-size: 156px;
  font-weight: 700;
  line-height: 176px;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  background-clip: text;
  color: transparent;

  @media (min-resolution: $retina-dppx) {
    background: url("/img/background/bg-about@2x.jpg");
    background-clip: text;
  }

  @include vp-1023 {
    margin-right: 0;
  }

  @include vp-767 {
    display: none;
  }
}

.about h2 {
  margin-top: 0;
  margin-bottom: 11px;
  font-family: $ff-fancy;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;

  @include vp-1023 {
    margin-top: -7px;
  }

  @include vp-767 {
    margin-bottom: 13px;
    font-size: 28px;
    line-height: 39px;
  }
}

.about p {
  margin: 0;
  margin-bottom: 17px;
  line-height: 23px;

  @include vp-1023 {
    line-height: 22px;
  }

  @include vp-767 {
    margin-bottom: 17px;
    font-size: 14px;
    line-height: 19px;
  }
}

.about button {
  margin-top: 21px;
  padding-top: 13px;
  padding-bottom: 13px;
  min-width: 180px;

  @include vp-1023 {
    margin-top: 2px;
  }

  @include vp-767 {
    min-width: 160px;
    margin-top: -2px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.about [data-state="is-hidden"] {
  display: none;
}

.about [data-id="to-hide-mobile"] {
  @include vp-767 {
    display: none;
  }
}

.about [data-id="to-hide-mobile"] [data-state="is-hidden"] {
  display: none;
}
