.btn {
  display: inline-flex;
  padding: 10px 20px;

  color: $color-default-white;

  background-color: transparent;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--dark {
    background-color: $black-pearl;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
