.button {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 10px 20px;
  
  font-family: $ff-fancy;
  color: $color-default-white;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  transition: opacity $trans-default;

  &--dark {
    background-color: $black-pearl;
  }

  &--bright {
    background-color: $color-deep-sky-blue;
  }

  &--transparent-light {
    border: 1px solid $color-alice-blue;
    color: $color-alice-blue;
  }

  &--transparent-bright {
    border: 1px solid $color-deep-sky-blue;
    color: $color-deep-sky-blue;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
